<div class="message mb-2">
    <div class="content-container">
        <div class="content">
            <%= message.content %>
        </div>
        <div class="author">
            <%= message.user.username %>
        </div>
        <div class="time">
            <%= remove_zero message.created_at.to_s(:time_jp) %>
        </div>
    </div>
</div>