@import "bootstrap/scss/bootstrap";
    
body {
    overflow: hidden;
    // overflow-y: hidden;

    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-syle: none;
}

ul {
    list-style: none;
    margin-left: -42px;
}

.row {
    justify-content: center;
}

.main-content { 
    width: 66%;
}

#room_name {
    max-width: 300px;
    margin-bottom: 30px;
}

.index-header {
    height: 100px
}

.navbar {
    position: absolute;
    top: -65px;
    margin-left: -15px;
    width: calc(100% + 30px);
}

.username-button {
    border-radius: 3px;
    color: #1b1e21;
    background-color: white;
    border-color: #1b1e21;
}
.username-button:hover {
    background-color: #c7dbfa;
    text-decoration: none;
    color: black;
}

.navbar-button>a {
    color: black;
    padding: 10px 20px;
    border-radius: 3px;
    border: solid 1px black;
}

.navbar-button>a:hover {
    background-color: #c7dbfa;
    text-decoration: none;
    color: black;
}

.navbar-button {
    margin-right: 15px;
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    width: max-content;
}

.modal-dialog-center {
    padding-top: 150%;
  }

.chat-room {
    position: relative;
    height: 90vh;


    #messages {
        border: solid 1px;
        margin-top: 65px;
        height: calc(100% - 65px);
        overflow-y: scroll;
    }
    
    .message {
        min-height: 59px;

        .content-container {
            display: inline-block;
            margin: 0px 15px;

            .content {
                border: solid 1px black;
                background-color: #ebedf0;
                padding: 3px 16px;
                border-radius: 3px;
            }

            .author {
                font-size: 0.8rem;
                color: #777777;
                margin-left: 10px;
            }

            .time {
                font-size: 13px;
            }

            .author, .time {
                float: left;
            }

        }

        &.me {
            .content-container {
                float: right;

                .content {
                    border: solid 1px black;
                    background-color: #adc9f5;
                    color: black;
                }
            }
        }
    }

    .chat-box {
        position: fixed;
        bottom: 15px;
        padding: 20px;
        margin-bottom: -15px;
        margin-left: -15px;
        width: 69%;
        input[type=text] {
            height: 45px;
            padding: 8px;
            border: solid 1px;
        }

    }
    input[type=text] {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .main-content {
        justify-content: center;
        width: 90%;
    }

    .chat-room {
        height: 645px;
        .chat-box {
            width: 97%;
            height: 82px;
        }
        
        #messages {
            margin-top: 156px;
        }

        .navbar {
            top: -60px;
        }
    }
}