body {
    overflow-y: hidden;

    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-syle: none;
}

ul {
    list-style: none;
    margin-left: -42px;
}

.hello,.user-form{
    float: left;
}
.room-index {
    margin-bottom: 15px;
}

.room-index>a {
    color: black;
    padding: 10px 20px;
    border-radius: 3px;
    border: solid 1px black;

}

.room-index>a:hover {
    background-color: #c7dbfa;
    text-decoration: none;
    color: black;
}

.room-index {
    margin-top: 15px;
    text-align: center;
    width: max-content;
}

#room_name {
    max-width: 300px;
    margin-bottom: 30px;
}

.index-header {
    height: 100px
}

.col-8.room-show {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.navbar-top {
    height: 50px;
}

.navbar {
    border-bottom: 1px solid black;
    margin-left: -15px;
    width: calc(100% + 30px);
}

.nav-inner-left {
    justify-content: start;

}

.chat-room {
    height: 100vh;


    #messages {
        height: calc(100% - 156px);
        overflow-y: scroll;
    }

    .message {
        min-height: 59px;

        .content-container {
            display: inline-block;

            .content {
                border: solid 1px black;
                background-color: #ebedf0;
                padding: 3px 16px;
                border-radius: 3px;
            }

            .author {
                font-size: 0.8rem;
                color: #777777;
                margin-left: 10px;
            }
        }

        &.me {
            .content-container {
                float: right;

                .content {
                    border: solid 1px black;
                    background-color: #adc9f5;
                    color: black;
                }
            }
        }
    }

    .chat-box {
        position: fixed;
        bottom: 15px;
        padding: 20px;
        margin-bottom: -15px;
        margin-left: -15px;
        border-top: 1px solid black;
        width: 66.5%;

        input[type=text] {
            height: 45px;
            font-size: 18px;
            padding: 8px;
            border: solid 1px;
        }

        .btn {
            height: 45px;
            width: 132px;
            border: solid 1px;
        }
    }
}