body {
    overflow-y: hidden;

    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-syle: none;
}


// #room_name {
//     margin: 15px 0px;
// }

// a:hover {
//     text-decoration: none;
// }

// .active {
//     pointer-events: none;
//     text-decoration: none;
//     color: white;

//     .card.mb-2 {
//         background-color: #566270;
//     }
// }

.col-8 {
    border-right: 1px solid black;
    border-left: 1px solid black;
    // margin-bottom: -15px;
}

.navbar {
    border-bottom: 1px solid black;
    margin-left: -15px;
    width: calc(100% + 30px);
}

// .card.mb-2:hover {
//     background-color: #E0E3DA;
// }

.chat-room {
    height: 100vh;


    #messages {
        height: calc(100% - 156px);
        overflow-y: scroll;
    }

    .message {
        min-height: 59px;

        .content-container {
            display: inline-block;

            .content {
                background-color: #E0E3DA;
                padding: 8px 16px;
                border-radius: 20px;
            }

            .author {
                font-size: 0.8rem;
                color: #777777;
                margin-left: 10px;
            }
        }

        &.me {
            .content-container {
                float: right;

                .content {
                    background-color: #007bff;
                    color: white;
                }
            }
        }
    }

    .chat-box {
        position: fixed;
        bottom: 15px;
        padding: 20px;
        margin-bottom: -15px;
        margin-left: -15px;
        border-top: 1px solid black;
        width: 66.5%;

        input[type=text] {
            height: 45px;
            font-size: 18px;
            padding: 8px;
            border: solid 1px;
        }


        .btn {
            height: 45px;
            width: 132px;
            border: solid 1px;
        }
    }
}