<% provide(:title, "Room Index") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 index-header"></div>
    <div class="col-2">
    </div>
    <div class="col-8">
      <ul>
        <% @rooms.each do |room| %>
        <li><%= link_to "Room #{room.id}", "/rooms/#{room.id}" %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-2"></div>
  </div>
</div>